
<div class="container py-5">

  <div class="rounded shadow p-5 d-flex">
    <img src="/assets/tasks.svg" alt="" width="250">
    <div>
      <h3 class="text-primary">Welcome To Tasks</h3>
      <h5 class="text-secondary">App for creating, listing, editing and delete tasks</h5>

      <hr>

      <p class="text-muted">
        DemoApp with Spring-Boot, Angular and MongoDB
      </p>

    </div>
  </div>
  <div class="row mt-5">

    <div class="col-md-6">
      <h3>{{ task.id ? 'Edit' : 'New'}} Task</h3>

      <form class="mt-5" (ngSubmit)="save()">
        <div class="mb-3 form-floating">
          <input id="name" type="text" placeholder="Name" name="name" class="form-control" [(ngModel)]="task.name">
          <label for="name">Name</label>
        </div>
        <div class="mb-3 form-check">
          <input id="finished" type="checkbox" class="check-form-input" name="finished" [(ngModel)]="task.finished">
          <label for="finished" class="form-check-label">Finished</label>
        </div>
        <div class="text-end">
          <button class="btn btn-primary btn-lg">Add</button>
        </div>
        
      </form>

    </div>

  <br><br>

    <div class="col-md-6">
      <h3>TASKLIST</h3>
      
      <div class="my-5">

      </div>

      <div *ngFor="let task of tasks" class="card mb-3">
        
        <div class="card-body">
          <div class="d-flex justify-content-between">
              <div class="fw-bold">
                {{ task.name }}
              </div>
              <div class="text-muted">
                <i class="fa fa-edit cursor-pointer" title="Edit task" (click)="edit(task)"></i>
                <i class="fa fa-trash ms-2 cursor-pointer" title="Delete task" (click)="delete(task)"></i>
              </div>
          </div>

          <div>
            <small class="text-success" *ngIf="task.finished; else noFinished">
              <i class="fa fa-check-circle"></i> Finished
            </small>

            <ng-template #noFinished>
              <small class="text-muted">
                <i class="fa fa-clock"></i> Pendient
              </small>
            </ng-template>

          </div>
        </div>
        
      </div>

    </div>

    

  </div>


</div>